@CHARSET "UTF-8";

/* LSX Business Directory Stylesheet */


// Business Archive

.lsx-business-directory-wrapper {
	.business-facets {
		h3 {
			margin: {
				top: 0;
				bottom: 15px;
			}
			padding-bottom: 5px;
			border-bottom: 1px solid #ddd;
		}
	}

	.business-listings {
		padding-left: 30px;
    	border-left: 1px solid #ddd;

    	.business-filters {
    		padding-bottom: 15px;
		    margin-bottom: 25px;
		    border-bottom: 1px solid #ddd;
    	}
		
		.business {
			margin-bottom: 30px;

			.business-content {
				.business-title {
					margin: {
						top: 0;
						bottom: 15px;
					}
					padding-bottom: 5px;
					border-bottom: 1px solid #ddd;
				}
			}
		}
	}
}


// Single Business

.business-directory {
	.business-header {
		margin-bottom: 40px;

		.entry-header-content {
			h1.entry-title {
				margin: {
					top: 0;
					bottom: 10px;
				}
			}

			.entry-meta {
				text-align: left;

				.category {
					margin-bottom: 5px;
				}

				.region {
					margin-bottom: 20px;
				}
			}
		}
	}

	.business-content-left,
	.business-content-right {
		margin-bottom: 30px;
	}

	.business-content-left {
		@media (min-width: 992px) {
			float: left;
		}
	}

	.business-content-right {
		@media (min-width: 992px) {
			float: right;
		}
	}

	.business-content-section {
		margin-bottom: 30px;

		.business-section-title {
			margin: {
				top: 0;
				bottom: 18px;
			}
		    padding-bottom: 8px;
		    border-bottom: 1px solid #ddd;
		}

		&.branches {
			.branch {
				h4 {
					margin: {
						top: 0;
						bottom: 15px;
					}
					padding-bottom: 5px;
					border-bottom: 1px solid #ddd;
				}

				.branch-content {
					.col-md-4 {
						div {
							margin-bottom: 5px;
						}
					}
				}
			}
		}

		&.promotions {
			.promotion {
				.promotion-thumbnail {
					float: left;
					margin: 0 30px 30px 0;
				}

				.promotion-content {
					h4 {
						margin: 0;
					}

					.promotion-price {
						margin: 10px 0;
						font-size: 18px;
					}
				}
			}
		}

		&.contact-form {
			padding: 20px 30px;
		    border: 1px solid #ccc;
		    text-align: center;
		    -webkit-border-radius: 3px;
		    -moz-border-radius: 3px;
		    border-radius: 3px;
		    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
		    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
		    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);

		    h4 {
		    	padding: 0;
		    	border: none;
		    }

		    form {
		    	input,
		    	textarea {
		    		margin-bottom: 10px;
		    	}

		    	.btn {
		    		width: 100%;
		    	}
		    }
		}

		&.contact-info {
			.telephone,
			.email,
			.website,
			.address {
				margin-bottom: 10px;

				strong {
					display: block;
				}
			}
		}
	}

	.related-businesses {
		h2 {
			text-align: center;
		}

		.related-business {
			h3 {
				margin: 20px 0 0px;
			}
		}
	}
}