/** LSX Starter Plugin styles. @package lsx-business-directory */
/** Business Directory Banner Styles. @package lsx-business-directory */
body.lsx-business-directory-page:not(.using-gutenberg):not(.banner-disabled) .business-banner .wp-block-cover { padding-top: 36px; min-height: 214px; }

body.lsx-business-directory-page:not(.using-gutenberg):not(.banner-disabled) .business-banner .wp-block-cover .archive-title { margin-top: 0; margin-bottom: 0; }

body.lsx-business-directory-page:not(.using-gutenberg):not(.banner-disabled) .business-banner .wp-block-cover.has-background-img { min-height: 430px; }

body.lsx-business-directory-page:not(.using-gutenberg):not(.banner-disabled) .business-banner .wp-block-cover.alignfull { width: 100%; max-width: 100%; }

body.lsx-business-directory-page:not(.using-gutenberg):not(.banner-disabled) #primary, body.lsx-business-directory-page:not(.using-gutenberg):not(.banner-disabled) #secondary { margin-top: 0px; }

body.lsx-business-directory-page.archive:not(.using-gutenberg):not(.banner-disabled) .wrap.container .content.role > div:first-child#primary, body.lsx-business-directory-page.search:not(.using-gutenberg):not(.banner-disabled) .wrap.container .content.role > div:first-child#primary { margin-top: 0px; }

@media (min-width: 320px) { body.lsx-business-directory-page.lsx:not(.single-post):not(.page-has-banner) .archive-header-wrapper .archive-header { padding-bottom: 64px; } }

@media (min-width: 992px) { body.lsx-business-directory-page.archive.banner-disabled .facetwp-sidebar.widget-area, body.lsx-business-directory-page.search.banner-disabled .facetwp-sidebar.widget-area { margin-top: 8.4rem; }
  body.lsx-business-directory-page.archive.banner-disabled .facetwp-sidebar.widget-area + .content-area, body.lsx-business-directory-page.search.banner-disabled .facetwp-sidebar.widget-area + .content-area { margin-top: 8.4rem; } }

/* Slider */
.lsx-business-directory-slider { position: relative; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.lsx-business-directory-slider .slick-track { position: relative; right: 0; top: 0; display: block; }

.lsx-business-directory-slider .slick-track:before, .lsx-business-directory-slider .slick-track:after { content: ""; display: table; }

.lsx-business-directory-slider .slick-track:after { clear: both; }

.lsx-business-directory-slider .slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }

.lsx-business-directory-slider .slick-list.dragging { cursor: pointer; cursor: hand; }

.lsx-business-directory-slider .slick-list:focus { outline: none; }

.lsx-business-directory-slider .slick-track, .lsx-business-directory-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.lsx-business-directory-slider .slick-slide { float: right; height: 100%; min-height: 1px; display: none; padding: 0 15px; margin-top: 4.25rem; }

.lsx-business-directory-slider .slick-slide img { display: block; }

.lsx-business-directory-slider .slick-slide.slick-loading img, .lsx-business-directory-slider .slick-slide.dragging img { display: none; }

[dir="rtl"] .lsx-business-directory-slider .slick-slide { float: left; }

.lsx-business-directory-slider.slick-initialized .slick-slide { display: block; }

.lsx-business-directory-slider.slick-loading .slick-slide { visibility: hidden; }

.lsx-business-directory-slider.slick-loading .slick-track { visibility: hidden; }

.lsx-business-directory-slider.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.lsx-business-directory-slider .slick-arrow { opacity: .75; }

.lsx-business-directory-slider .slick-arrow:hover { opacity: 1; }

.lsx-business-directory-slider .slick-arrow { background: transparent; border-radius: 50%; border-style: solid; border-width: 2px; font: 0/0 a; height: 4rem; margin-top: calc((2.25rem - 17px) / 2); padding: 0; position: absolute; text-shadow: none; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: border 300ms ease; transition: border 300ms ease; width: 4rem; z-index: 3; }

.lsx-business-directory-slider .slick-arrow:before { display: block; font-family: 'FontAwesome'; font-size: 3rem; line-height: 1; position: absolute; text-rendering: auto; top: 47%; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: color 300ms ease; transition: color 300ms ease; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.lsx-business-directory-slider .slick-arrow.slick-disabled { cursor: not-allowed; }

.lsx-business-directory-slider .slick-arrow.slick-prev:before { content: '\f104'; right: 1.1rem; }

.lsx-business-directory-slider .slick-arrow.slick-next:before { content: '\f105'; right: 1.5rem; }

.lsx-business-directory-slider .slick-dots:not(.dropdown-menu) { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; height: auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; list-style: none; margin: 2rem 0 0; padding: 0; }

.lsx-business-directory-slider .slick-dots:not(.dropdown-menu) > li { line-height: 1; padding: 5px; }

@media (min-width: 992px) { .lsx-business-directory-slider .slick-dots:not(.dropdown-menu) > li { padding: 0 7.5px; } }

.lsx-business-directory-slider .slick-dots:not(.dropdown-menu) > li > button { background: transparent; border-style: solid; border-width: 1px; font: 0/0 a; height: 12px; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; width: 4rem; }

@media (min-width: 992px) { .lsx-business-directory-slider .slick-dots:not(.dropdown-menu) > li > button { height: 6px; } }

.lsx-business-directory-slider .slick-dots:not(.dropdown-menu) > li.slick-active > button { background-color: #4a4a4a; }

.lsx-business-directory-slider .slick-arrow { border-color: #374750; }

.lsx-business-directory-slider .slick-arrow.slick-prev { right: -4rem; }

.lsx-business-directory-slider .slick-arrow.slick-next { left: -4rem; }

.lsx-business-directory-slider .slick-arrow.slick-hidden { display: none; }

@media (min-width: 992px) { .lsx-business-directory-slider { margin: 0 auto; width: 100%; }
  .lsx-business-directory-slider.slick-has-arrows { width: calc(100% - 8rem); } }

@media (min-width: 1280px) { .lsx-business-directory-slider { margin: 0 -15px; width: calc(100% + 30px); }
  .lsx-business-directory-slider.slick-has-arrows { width: calc(100% + 30px); } }

.lsx-business-directory-slider.slider-disabled { overflow: hidden; }

.slick-lightbox-close { left: 32px; top: 32px; }

.slick-lightbox-slick-caption { display: inline-block; }

.lsx-business-directory-shortcode .lsx-business-directory-slider article.business.col-layout .business-thumbnail { min-height: 168px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.lsx-business-directory-shortcode .lsx-business-directory-slider article.business.col-layout .business-content { padding: 19px 15px 20px 15px; }

body.archive.lsx-body-grid-layout .post-wrapper, body.search-results.lsx-body-grid-layout .post-wrapper { margin-right: -15px; margin-left: -15px; }

@CHARSET "UTF-8";
/* General */
.lsx-hide { display: none !important; }

.lsx-flex-row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.lsx-flex-col { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.lsx-flex-center { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.lsx-float-right { float: left; }

.lsx-bold { font-weight: bold; }

.lsx-flex-1 { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

/* Business Directory */
.lsx-business-directory-wrapper .business-facets h3 { margin-top: 0; margin-bottom: 15px; padding-bottom: 5px; border-bottom: 1px solid #ddd; }

.lsx-business-directory-wrapper .business-listings { padding-right: 30px; border-right: 1px solid #ddd; }

.lsx-business-directory-wrapper .business-listings .business-filters { padding-bottom: 15px; margin-bottom: 25px; border-bottom: 1px solid #ddd; }

.lsx-business-directory-wrapper .business-listings .business-filters .business-filters-top { margin-bottom: 20px; }

.lsx-business-directory-wrapper .business-listings .business-filters .business-filters-top > div { display: inline-block; }

.lsx-business-directory-wrapper .business-listings .business-filters .business-filters-top > div.facetwp-sort { margin-left: 10px; }

.lsx-business-directory-wrapper .business-listings .business-filters .business-filters-bottom > div { display: inline-block; }

.lsx-business-directory-wrapper .business-listings .business-filters .business-filters-bottom > div.facetwp-pager { float: left; }

.lsx-business-directory-wrapper .business-listings .business { margin-bottom: 20px; }

@media only screen and (max-width: 991px) { .lsx-business-directory-wrapper .business-listings .business { padding-bottom: 15px; border-bottom: 1px solid #ddd; } }

.lsx-business-directory-wrapper .business-listings .business .business-content .business-title { margin-top: 0; margin-bottom: 15px; padding-bottom: 5px; border-bottom: 1px solid #ddd; }

.lsx-business-directory-wrapper .business-listings .business .business-content .business-title h4 { color: #434343; }

@media only screen and (max-width: 991px) { .lsx-business-directory-wrapper .business-listings .business .business-content .business-title { margin-top: 15px; } }

.lsx-business-directory-wrapper .business-listings .business .business-details .business-meta div { margin-bottom: 5px; }

.single .business-directory .business-header { margin-bottom: 40px; }

.single .business-directory .business-header .business-content-left { background-color: white; padding-right: 0px; padding-left: 0px; padding-bottom: 29px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #EEEEEE; background-color: #FFFFFF; -webkit-box-shadow: -1px 2px 6px 0 rgba(155, 155, 155, 0.45); box-shadow: -1px 2px 6px 0 rgba(155, 155, 155, 0.45); }

.single .business-directory .business-header .business-content-left > .entry-image > img { width: 100%; }

@media screen and (max-width: 1090px) { .single .business-directory .business-header .business-content-left { margin-bottom: 20px; } }

.single .business-directory .business-header .business-content-right { padding-right: 26px; }

.single .business-directory .business-header .entry-header-content h1.entry-title { color: #4D4D4D; font-family: Lora; font-size: 32px; line-height: 39px; }

.single .business-directory .business-header .entry-header-content h1.entry-title, .single .business-directory .business-header .entry-header-content h2.entry-title { margin-top: 0; margin-bottom: 27px; }

@media only screen and (max-width: 767px) { .single .business-directory .business-header .entry-header-content h1.entry-title, .single .business-directory .business-header .entry-header-content h2.entry-title { font-size: 22px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) { .single .business-directory .business-header .entry-header-content h1.entry-title, .single .business-directory .business-header .entry-header-content h2.entry-title { font-size: 28px; } }

@media only screen and (max-width: 991px) { .single .business-directory .business-header .entry-header-content h1.entry-title, .single .business-directory .business-header .entry-header-content h2.entry-title { margin-top: 15px; } }

.single .business-directory .business-header .entry-header-content .social-links { margin-bottom: 20px; }

.single .business-directory .business-header .entry-header-content .social-links > div { margin-left: 24px; }

.single .business-directory .business-header .entry-header-content .social-links > div a { color: #5693D9; font-size: 22px; line-height: 22px; text-align: center; }

.single .business-directory .business-header .entry-header-content .social-links > div a:hover { color: #F7AE00; }

.single .business-directory .business-header .entry-header-content .business-description { padding-top: 8px; }

.single .business-directory .business-header .entry-header-content .entry-meta { text-align: right; }

.single .business-directory .business-header .entry-header-content .entry-meta .industry, .single .business-directory .business-header .entry-header-content .entry-meta .location { padding-right: 0px; padding-left: 0px; }

.single .business-directory .business-header .entry-header-content .entry-meta > div { margin-bottom: 5px; }

.single .business-directory .business-header .entry-header-content .entry-meta > div:last-child { margin-bottom: 20px; }

.single .business-directory .business-header .button { padding-right: 14px; padding-left: 15px; }

.single .business-directory .business-header .button button.btn.btn-primary { margin-top: 14px; width: 100%; }

.single .business-directory .contact-info { padding-top: 30px; padding-right: 0px; }

.single .business-directory .contact-info .telephone, .single .business-directory .contact-info .contact, .single .business-directory .contact-info .email, .single .business-directory .contact-info .website, .single .business-directory .contact-info .skype, .single .business-directory .contact-info .whatsapp, .single .business-directory .contact-info .address { padding-right: 15px; padding-bottom: 15px; }

.single .business-directory .contact-info .telephone i, .single .business-directory .contact-info .contact i, .single .business-directory .contact-info .email i, .single .business-directory .contact-info .website i, .single .business-directory .contact-info .skype i, .single .business-directory .contact-info .whatsapp i, .single .business-directory .contact-info .address i { margin-left: 3px; }

.single .business-directory .contact-info .telephone .col1, .single .business-directory .contact-info .contact .col1, .single .business-directory .contact-info .email .col1, .single .business-directory .contact-info .website .col1, .single .business-directory .contact-info .skype .col1, .single .business-directory .contact-info .whatsapp .col1, .single .business-directory .contact-info .address .col1 { min-width: 141px; color: #919191; font-family: "Noto Sans"; font-size: 15px; font-weight: bold; line-height: 24px; }

.single .business-directory .contact-info .telephone .col2, .single .business-directory .contact-info .contact .col2, .single .business-directory .contact-info .email .col2, .single .business-directory .contact-info .website .col2, .single .business-directory .contact-info .skype .col2, .single .business-directory .contact-info .whatsapp .col2, .single .business-directory .contact-info .address .col2 { min-width: 151px; }

.single .business-directory .contact-info .skype .col2 { border-radius: 15px; padding-right: 10px; padding-left: 10px; background-color: #46B6EF; }

.single .business-directory .contact-info .skype .col2:hover { background-color: #2281B1; }

.single .business-directory .contact-info .skype .col2 a { color: white; }

.single .business-directory .contact-info .whatsapp .col2 { border-radius: 15px; padding-right: 10px; padding-left: 10px; background-color: #5AC352; }

.single .business-directory .contact-info .whatsapp .col2:hover { background-color: #288B21; }

.single .business-directory .contact-info .whatsapp .col2 a { color: white; }

.single .business-directory .related-businesses h2 { text-align: center; }

@media only screen and (max-width: 991px) { .single .business-directory .related-businesses .related-business { margin-bottom: 30px; } }

.single .business-directory .related-businesses .related-business h3 { margin: 20px 0 0px; }

.archive .search-submit.btn.facetwp-btn, .search .search-submit.btn.facetwp-btn { background-color: #418AD0; -webkit-box-shadow: -1px 1px 0 0 #27619B; box-shadow: -1px 1px 0 0 #27619B; }

.archive #secondary.facetwp-sidebar .facetwp-item.parent-facetwp-facet-post_search, .search #secondary.facetwp-sidebar .facetwp-item.parent-facetwp-facet-post_search { background: transparent; padding: 0px; margin-top: 0; }

.archive #secondary.facetwp-sidebar .facetwp-item.parent-facetwp-facet-post_search .lsx-search-title, .search #secondary.facetwp-sidebar .facetwp-item.parent-facetwp-facet-post_search .lsx-search-title { display: none; }

.archive .facetwp-sidebar.widget-area .row:nth-child(1) .facetwp-facet, .search .facetwp-sidebar.widget-area .row:nth-child(1) .facetwp-facet { margin-top: 0px !important; }

.archive article, .search article { margin-bottom: 25px; }

.archive .fa, .search .fa { margin-left: 5px; }

.archive .business-row-wrapper, .search .business-row-wrapper { -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #EEEEEE; background-color: #FFFFFF; -webkit-box-shadow: -1px 2px 6px 0 rgba(155, 155, 155, 0.45); box-shadow: -1px 2px 6px 0 rgba(155, 155, 155, 0.45); padding-right: 0px; padding-left: 30px; margin-bottom: 25px; }

.archive .business-row-wrapper .business.row-layout, .search .business-row-wrapper .business.row-layout { padding: 0; }

.archive .business-row-wrapper .business.row-layout .business-content, .search .business-row-wrapper .business.row-layout .business-content { padding-right: 20px; }

.archive .business-row-wrapper .business.row-layout .business-content .business-details h4.business-title, .search .business-row-wrapper .business.row-layout .business-content .business-details h4.business-title { color: #434343; margin-top: 13px; margin-bottom: 7px; }

.archive .business-row-wrapper .business.row-layout .business-content .business-details .industry, .archive .business-row-wrapper .business.row-layout .business-content .business-details .location, .archive .business-row-wrapper .business.row-layout .business-content .business-details .telephone, .archive .business-row-wrapper .business.row-layout .business-content .business-details .email, .search .business-row-wrapper .business.row-layout .business-content .business-details .industry, .search .business-row-wrapper .business.row-layout .business-content .business-details .location, .search .business-row-wrapper .business.row-layout .business-content .business-details .telephone, .search .business-row-wrapper .business.row-layout .business-content .business-details .email { padding-right: 0px; padding-left: 0px; padding-bottom: 1px; }

.archive .business-row-wrapper .business.row-layout .business-content .business-details .business-meta > div, .search .business-row-wrapper .business.row-layout .business-content .business-details .business-meta > div { margin-bottom: 6px; }

.archive .business-row-wrapper .business.row-layout .business-excerpt, .search .business-row-wrapper .business.row-layout .business-excerpt { border-top: 1px solid #ddd; padding-top: 10px; padding-bottom: 4px; margin-top: 1px; }

.archive .business-row-wrapper .business.row-layout .business-excerpt .read-more-link, .search .business-row-wrapper .business.row-layout .business-excerpt .read-more-link { padding-top: 10px; }

.archive .business-row-wrapper .business.row-layout .business-excerpt .read-more-link a, .search .business-row-wrapper .business.row-layout .business-excerpt .read-more-link a { text-transform: uppercase; }

.archive .business-row-wrapper .business.row-layout .business-excerpt .read-more-link a .fa, .search .business-row-wrapper .business.row-layout .business-excerpt .read-more-link a .fa { margin-right: 5px; }

.archive .archive-plan, .search .archive-plan { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.archive .business.col-layout, .lsx-business-directory-shortcode .business.col-layout { position: relative; }

.archive .business.col-layout .business-thumbnail, .lsx-business-directory-shortcode .business.col-layout .business-thumbnail { background-color: white; }

.archive .business.col-layout .business-thumbnail img, .lsx-business-directory-shortcode .business.col-layout .business-thumbnail img { width: 100%; }

.archive .business.col-layout .business-content, .lsx-business-directory-shortcode .business.col-layout .business-content { background-color: #FFFFFF; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 19px 0px 19px 0px; }

.archive .business.col-layout .business-content .business-details .business-title, .lsx-business-directory-shortcode .business.col-layout .business-content .business-details .business-title { padding: 0px 15px 15px 15px; }

.archive .business.col-layout .business-content .business-details .business-title h4, .lsx-business-directory-shortcode .business.col-layout .business-content .business-details .business-title h4 { margin-bottom: 0px; color: #434343; }

.archive .business.col-layout .business-content .industry, .archive .business.col-layout .business-content .location, .archive .business.col-layout .business-content .telephone, .archive .business.col-layout .business-content .email, .lsx-business-directory-shortcode .business.col-layout .business-content .industry, .lsx-business-directory-shortcode .business.col-layout .business-content .location, .lsx-business-directory-shortcode .business.col-layout .business-content .telephone, .lsx-business-directory-shortcode .business.col-layout .business-content .email { padding: 0px 17px 1px 15px; }

.archive .business.col-layout .business-content .industry i, .archive .business.col-layout .business-content .location i, .archive .business.col-layout .business-content .telephone i, .archive .business.col-layout .business-content .email i, .lsx-business-directory-shortcode .business.col-layout .business-content .industry i, .lsx-business-directory-shortcode .business.col-layout .business-content .location i, .lsx-business-directory-shortcode .business.col-layout .business-content .telephone i, .lsx-business-directory-shortcode .business.col-layout .business-content .email i { margin-left: 0px; }

.archive .business.col-layout .business-button button, .lsx-business-directory-shortcode .business.col-layout .business-button button { width: 100%; height: 45px; background-color: #418AD0; border: none; }

.archive .business.col-layout .business-button button a, .lsx-business-directory-shortcode .business.col-layout .business-button button a { color: white; }

.archive .business.col-layout .business-button button a .fa, .lsx-business-directory-shortcode .business.col-layout .business-button button a .fa { margin-right: 5px; }

#gmap { height: 500px; }

body { /* For specificity */ }

body.single-business-directory article h1.entry-title { border-bottom: 0 !important; }

body.single-business-directory article .entry-meta { border-top: 0; border-bottom: 0; }

body.single-business-directory article .entry-meta > * { display: block; }
