<article id="post-{{id}}" class="{{post_class}}">
<div class="business-content-wrapper">	
	{{#if post_thumbnail}}
		<div class="logo">
			<a href="{{{permalink}}}">
				{{{post_thumbnail}}}
			</a>
		</div>
	{{/if}}

	<div class="business-content">
		<div class="business-top">
			<h3><a href="{{{permalink}}}" title="{{the_title_attribute}}">{{post_title}}</a></h3>
			
		</div>

		<p class="business-excerpt">{{{excerpt}}}</p>

		<div class="business-bottom">
			<a class="btn btn-default" title="{{the_title_attribute}}" href="{{{permalink}}}">View Business</a>
		</div>
	</div>
</div>
</article>