<div class="row">
	<div class="col-md-8">
	
		{{#if post_thumbnail}}
			<div class="business-logo">
				{{{post_thumbnail}}}
			</div>
		{{/if}}
	
		<h1 class="title">{{post_title}} {{#if head_office}} - {{head_office}}{{/if}}</h1>

		<div class="entry-content">
			{{{post_content}}
		</div><!-- .entry-content -->	
	</div>
	
	<div class="col-md-4">
		
		<div class="contact">
			<h3 class="entry-title">Contact Details</h3>
			<ul>
				{{#if vat}}<li>{{vat}}</li>{{/if}}
				{{#if primary_email}}<li><a href="mailto:{{website}}" target="_blank"><span class="genericon genericon-mail"></span> {{primary_email}}</a></li>{{/if}}
				{{#if secondary_email}}<li><a href="mailto:{{website}}" target="_blank"><span class="genericon genericon-mail"></span> {{secondary_email}}</a></li>{{/if}}
				{{#if primary_phone}}<li><span class="genericon genericon-handset"></span> {{primary_phone}}</li>{{/if}}
				{{#if secondary_phone}}<li><span class="genericon genericon-handset"></span> {{secondary_phone}}</li>{{/if}}
				{{#if fax_number}}<li><span class="genericon genericon-handset"></span> {{fax_number}}</li>{{/if}}
				{{#if website}}<li><a href="{{website}}" target="_blank"><span class="genericon genericon-external"></span> {{website}}</a></li>{{/if}}
			</ul>
		</div>
		
		{{#if location}}
			<div class="address">
				<h3 class="entry-title">Address</h3>
				{{{location}}}
			</div>
		{{/if}}
				
	</div>	
</div>


{{{map}}}