/* Archive Template Column Layout */
.archive, .single, .search, .lsx-business-directory-shortcode {
	.business.col-layout {
		position: relative;

		.business-thumbnail {
			background-color: white;

			img {
				width: 100%;
			}
		}

		.business-content {
			background-color: white;
			display: flex;
            flex-direction: column;
            justify-content: space-between;
			padding: 19px 0px 19px 0px;

			.business-details {
				.business-title {
					padding: 0px 15px 15px 15px;

					h4 {
						margin-bottom: 0px;

						a {
							color: $title_color;

							&:hover {
								color: $orange;
							}
						}
					}
				}
			}

			.industry, .location, .telephone, .email, .description {
				padding: 0px 15px 1px 17px;

				span {
					i, strong, a {
						font-size: 13px;
						line-height: 24px;
					}
				}

				i {
					margin-right: 0px;
				}
			}

			.description {
				padding-top: 15px;

				p {
					margin-bottom: 0px;
				}
			}
		}

		.business-button .btn {
			width: 100%;
			height: 45px;
			border: none;
			box-shadow: none;
			border-radius: 0;

			a {
				color: white;
				.fa {
					margin-left: 5px;
				}
			}
		}
	}
}
