/**
 * Business Directory Banner Styles.
 *
 * @package lsx-business-directory
 */

body {
	// Post Type Archive
	@media (min-width: 320px) {
		&.lsx:not(.single-post):not(.page-has-banner){
			.archive-header-wrapper {
				.archive-header {
					padding-bottom: 64px;
				}
			}
		}
	}

	// Single Business Directory
	&.single-business-directory:not(.using-gutenberg) {
		.business-banner {
			//padding: 0rem 9999rem;

			.wp-block-cover {
				padding-top: 36px;
				min-height: 214px;
				
				.archive-title {
					margin-top: 0;
					margin-bottom: 0;
				}

				&.has-background-img {
					min-height: 414px;
				}

				&.alignfull {
					width: 100%;
					max-width: 100%;
				}
			}
		}
		#primary {
			margin-top:0px;
		}
	}
}
