/* Slider */
.lsx-business-directory-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action:pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;

	.slick-track {
		position: relative;
		left: 0;
		top: 0;
		display: block;

		&:before,
		&:after {
			content: "";
			display: table;
		}

		&:after { clear: both; }
	}

	.slick-list {
		position:
		relative; overflow:hidden;
		display: block;
		margin: 0;
		padding: 0;

		&.dragging { cursor: pointer; cursor: hand; }

		&:focus { outline: none; }
	}

	.slick-track,
	.slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.slick-slide {
		float: left;
		height: 100%;
		min-height: 1px;
		display: none;
		padding: 0 15px;
		margin-top: 4.25rem;

		img {
			display: block;
		}

		&.slick-loading,
		&.dragging {
			img {
				display: none;
			}
		}

		[dir="rtl"] & { float: right; }
	}

	&.slick-initialized {
		.slick-slide {
			display: block;
		}
	}
	&.slick-loading {
		.slick-slide {
			visibility: hidden;
		}
		.slick-track {
			visibility: hidden;
		}
	}
	&.slick-vertical {
		.slick-slide {
			display: block;
			height: auto;
			border: 1px solid transparent;
		}
	}

	.slick-arrow {
		opacity: .75;

		&:hover { opacity: 1; }
	}
	.slick-arrow {
		background: transparent;
		border-radius: 50%;
		border-style: solid;
		border-width: 2px;
		font: 0/0 a;
		height: 4rem;
		margin-top: calc((2.25rem - 17px) / 2);
		padding: 0;
		position: absolute;
		text-shadow: none;
		top: 50%;
		transform: translateY(-50%);
		transition: border 300ms ease;
		width: 4rem;
		z-index: 3;

		&:before {
			display: block;
			font-family: 'FontAwesome';
			font-size: 3rem;
			line-height: 1;
			position: absolute;
			text-rendering: auto;
			top: 47%;
			transform: translateY(-50%);
			transition: color 300ms ease;

			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		&.slick-disabled { cursor: not-allowed; }

		&.slick-prev {
			&:before {
				content: '\f104';
				left: 1.1rem;
			}
		}

		&.slick-next {
			&:before {
				content: '\f105';
				left: 1.5rem;
			}
		}
	}
	.slick-dots:not(.dropdown-menu) {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		height: auto;
		justify-content: center;
		list-style: none;
		margin: 2rem 0 0;
		padding: 0;

		& > li {
			line-height: 1;
			padding: 5px;

			@include media('>=tablet') { padding: 0 7.5px; }

			& > button {
				background: transparent;
				border-style: solid;
				border-width: 1px;
				font: 0/0 a;
				height: 12px;
				transition: all 300ms ease-in-out;
				width: 4rem;

				@include media('>=tablet') { height: 6px; }
			}

			&.slick-active {
				& > button {
					background-color: #4a4a4a;
				}
			}
		}
	}

	.slick-arrow {
		border-color: #374750;

		&.slick-prev { left: -4rem; }
		&.slick-next { right: -4rem; }
		&.slick-hidden { display: none; }
	}

	@include media('>=tablet') {
		margin: 0 auto;
		width: 100%;

		&.slick-has-arrows { width: calc(100% - 8rem); }
	}

	@include media('>=1280px') {
		margin: 0 -15px;
		width: calc(100% + 30px);

		&.slick-has-arrows { width: calc(100% + 30px); }
	}

	&.slider-disabled { overflow: hidden; }
}
.slick-lightbox-close {
	right: 32px;
	top: 32px;
}
.slick-lightbox-slick-caption { display: inline-block; }

.lsx-business-directory-shortcode {
	.lsx-business-directory-slider {
		article.business.col-layout {
			.business-thumbnail {
				min-height: 168px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.business-content {
				padding:19px 15px 20px 0px;
			}
			.business-button {
				a {

				}
			}
		}
	}
}
