.lsx-business-directory-shortcode {
	&.lsx-bd-industries-nav {
		margin-bottom: 2.4rem;
		.row-flex {
			display: flex;
			margin: 0;
			flex-wrap: wrap;
			.btn-wrap {
				padding: 10px;
				margin: 0.5rem 0.5rem 0.5rem 0;
				flex-grow: 1;
				word-break: break-all;
				min-width: 100px;
				font-size: 12px;
				align-items: center;
				display: flex;
				border: 0.5px solid $separator_color;
				@include media('<=phone') {
					max-width: 50%;
				}
				&.current-industry,
				&:hover {
					background: $blue;
					color: white;
				}
			}
		}
		img {
			width: 25px;
			height: 25px;
			margin-right: 5px;
		}
	}
	.archive & {
		@include media('>=phone') {
			padding-left: 5px;
			padding-right: 0;
		}
	}
	.gutenberg-compatible-template.using-gutenberg .entry-content & {
		@include media('>=phone') {
			width: 100%;
			max-width: 100%;
		}
	}
}
