$blue: #5693D9;
$search_blue: #418AD0;
$search_dark_blue: #27619B;
$skype_blue: #46B6EF;
$skype_dark_blue: #2281B1;
$whatsapp_green: #5AC352;
$whatsapp_dark_green: #288B21;
$orange: #F7AE00;
$grey: #919191;
$border_color: #EEEEEE;
$separator_color: #DDDDDD;
$title_color: #4D4D4D;
$text_color: #4A4A4A;

$mobile_width: 991px;