// My Account - Listing Tab
.woocommerce-page {
	#main {
		.woocommerce-MyAccount-navigation {
			ul {
				li {
					&.woocommerce-MyAccount-navigation-link--listings {
						a {
							&:before {
								content: '\f03a';
							}
						}
					}
				}
			}
		}
	}
} 

.lsx-bd-my-account {
	&.listings {
		.no-listings {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			padding: 52px;

			.fa-list {
				font-size:37px;
				color: $grey;
			}

			h3 {
				margin-top:30px;
				margin-bottom:30px;
			}
		}
	}
}