/**
 * LSX Starter Plugin styles.
 *
 * @package lsx-business-directory
 */

@import 'include-media';
@import 'banners';
@import 'related_listings';
@import 'lsx_blog_customizer';

@CHARSET "UTF-8";

/* General */
.lsx-hide {
	display: none !important;
}

.lsx-flex-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.lsx-flex-col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.lsx-flex-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.lsx-float-right {
	float: right;
}

.lsx-bold {
	font-weight: bold;
}

.lsx-flex-1 {
	flex: 1;
}

/* Business Directory */

.lsx-business-directory-wrapper {
	.business-facets {
		h3 {
			margin: {
				top: 0;
				bottom: 15px;
			}

			padding-bottom: 5px;
			border-bottom: 1px solid #ddd;
		}
	}

	.business-listings {
		padding-left: 30px;
    	border-left: 1px solid #ddd;

    	.business-filters {
    		padding-bottom: 15px;
		    margin-bottom: 25px;
		    border-bottom: 1px solid #ddd;

		    .business-filters-top {
		    	margin-bottom: 20px;

		    	& > div {
		    		display: inline-block;

		    		&.facetwp-sort {
		    			margin-right: 10px;
		    		}
		    	}
		    }

		    .business-filters-bottom {
		    	& > div {
		    		display: inline-block;

		    		&.facetwp-pager {
		    			float: right;
		    		}
		    	}
		    }
    	}

		.business {
			margin-bottom: 20px;

			@media only screen and (max-width: 991px) {
			    padding-bottom: 15px;
			    border-bottom: 1px solid #ddd;
			}

			.business-content {
				.business-title {
					h4 {
						color: #434343;
					}

					margin: {
						top: 0;
						bottom: 15px;
					}

					padding-bottom: 5px;
					border-bottom: 1px solid #ddd;

					@media only screen and (max-width: 991px) {
						margin-top: 15px;
					}
				}
			}

			.business-details {
				.business-meta {
					div {
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}

// Single Business
.single {
	.business-directory {
		.business-header {
			margin-bottom: 40px;

			.business-content-left {
				background-color: white;
				padding-left: 0px;
				padding-right: 0px;
				padding-bottom: 29px;
				box-sizing: border-box;
				border: 1px solid #EEEEEE;
				background-color: #FFFFFF;
				box-shadow: 1px 2px 6px 0 rgba(155,155,155,0.45);

				>.entry-image {
					>img {
						width: 100%;
					}
				}
			}

			@media screen and (max-width: 1090px) {
				.business-content-left {
					margin-bottom: 20px;
				}
			}

			.business-content-right {
				padding-left: 26px;
			}

			.entry-header-content {
				h1.entry-title {
					color: #4D4D4D;
					font-family: Lora;
					font-size: 32px;
					line-height: 39px;
				}
				h1.entry-title, h2.entry-title {
					margin: {
						top: 0;
						bottom: 27px;
					}

					@media only screen and (max-width: 767px) {
						font-size: 22px;
					}

					@media only screen and (min-width: 768px) and (max-width: 991px) {
						font-size: 28px;
					}

					@media only screen and (max-width: 991px) {
						margin-top: 15px;
					}
				}

				.social-links {
					margin-bottom: 20px;
					>div {
						margin-right: 24px;

						a {
							color: #5693D9;
							font-size: 22px;
							line-height: 22px;
							text-align: center;
							&:hover {
								color: #F7AE00;
							}
						}
					}
				}

				.business-description {
					padding-top: 8px;
				}
				.entry-meta {
					text-align: left;

					.industry, .location {
						padding-left: 0px;
						padding-right: 0px;
					}

					> div {
						margin-bottom: 5px;

						&:last-child {
							margin-bottom: 20px;
						}
					}
				}
			}

			.button {
				padding-left: 13px;
				padding-right: 14px;

				button.btn.btn-primary {
					margin-top: 14px;
					width: 100%;
				}
			}
		}

		.contact-info {
			padding-top: 30px;
			padding-left: 0px;
			.telephone, .contact, .email, .website, .skype, .whatsapp, .address {
				padding-left: 14px;
				padding-bottom: 15px;
				i {
					margin-right: 3px;
				}
				.col1 {
					min-width: 141px;
					color: #919191;
					font-family: "Noto Sans";
					font-size: 15px;
					font-weight: bold;
					line-height: 24px;
				}
				.col2 {
					min-width: 151px;
				}
			}

			.skype {
				.col2 {
					border-radius: 15px;
					padding-left: 10px;
					padding-right: 10px;
					background-color: #46B6EF;

					a {
						color: white;
					}
				}
			}

			.whatsapp {
				.col2 {
					border-radius: 15px;
					padding-left: 10px;
					padding-right: 10px;
					background-color: #5AC352;
				}

				a {
					color: white;
				}
			}
		}

		.related-businesses {
			h2 {
				text-align: center;
			}

			.related-business {
				@media only screen and (max-width: 991px) {
					margin-bottom: 30px;
				}

				h3 {
					margin: 20px 0 0px;
				}
			}
		}
	}
}

.archive {
	#secondary.facetwp-sidebar .facetwp-item.parent-facetwp-facet-post_search {
		background: transparent;
		padding:0px;
		margin-top: 0;
		.lsx-search-title {
			display: none;
		}
	}
	.facetwp-item-wrap.facetwp-filters-wrap {
		padding-left: 0px;
		padding-right: 0px;
	}
	.facetwp-sidebar.widget-area {
		.facetwp-facet {
			margin-top: 0px !important;
		}
	}
	article {
		margin-bottom: 25px;
	}
	.fa {
		margin-right: 5px;
	}

	.business.row-layout {
		box-sizing: border-box;
		border: 1px solid #EEEEEE;
		background-color: #FFFFFF;
		box-shadow: 1px 2px 6px 0 rgba(155,155,155,0.45);
		padding-right: 10px;
		padding-bottom: 22px;

		.business-thumbnail {
			background: white;
		}

		.business-content {
			padding-left: 20px;
			.business-details {
				h4.business-title {
					color: #434343;
					margin-top: 13px;
					margin-bottom: 7px;
				}
				.industry, .location, .telephone, .email {
					padding-left: 0px;
					padding-right: 0px;
					padding-bottom: 1px;
				}
				.business-meta {
					>div {
						margin-bottom: 6px;
					}
				}
			}

		}
		.business-excerpt {
			border-top: 1px solid #ddd;
			padding-top: 10px;
			padding-bottom: 4px;
			margin-top: 1px;
			.read-more-link {
				padding-top: 10px;
				a {
					text-transform: uppercase;
					.fa {
						margin-left: 5px;
					}
				}
			}
		}
	}


	.archive-plan {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

// Business Column Layout.
.archive,
.lsx-business-directory-shortcode {
	.business.col-layout {
		position: relative;

		.business-thumbnail {
			background-color: white;

			img {
				width: 100%;
			}
		}

		.business-content {
			background-color: #FFFFFF;
			display: flex;
            flex-direction: column;
            justify-content: space-between;
			padding: 19px 0px 19px 0px;

			.business-details {
				.business-title {
					padding: 0px 15px 15px 15px;

					h4 {
						margin-bottom: 0px;
						color: #434343;
					}
				}
			}

			.industry, .location, .telephone, .email {
				padding: 0px 15px 1px 17px;

				i {
					margin-right: 0px;
				}
			}
		}

		.business-button button {
			width: 100%;
			height: 45px;
			background-color: #418AD0;
			border: none;

			a {
				color: white;
				.fa {
					margin-left: 5px;
				}
			}
		}
	}
}

#gmap {
	height: 500px;
}

body { /* For specificity */
	&.single-business-directory {
		article {
			h1.entry-title {
				border-bottom: 0 !important;
			}
			.entry-meta {
				border-top: 0;
				border-bottom: 0;
				> * {
					display: block;
				}
			}
		}
	}
}